* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(120deg, #f6d365, #d88771);
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-left: 7%;
  margin-bottom: 5rem;
  margin-top: 1rem;
  font-size: 3rem;
}

.section-container {
  display: flex;
  justify-content: space-evenly;
}

.score {
  border: none;
  border-radius: 8px;
  background-color: rgba(23, 38, 172, 0.075);
}

.scores-title {
  font-size: 2rem;
  color: #373741;
}

.score-list {
  padding: 1rem 2rem;
  max-width: 500px;
  height: 350px;
  overflow: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
}

form button {
  align-self: flex-end;
}

.score-container {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.add-score {
  padding: 2rem;
  max-height: 250px;
}

.list-item {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  overflow: auto;
}

.list-item:nth-child(odd) {
  background-color: rgb(252, 250, 250);
}

#name,
#score {
  border-radius: 20px;
  padding: 0.8rem;
  font-size: 1rem;
  font-style: italic;
  border-color: #1d1e27;
  color: #23242e;
}

#submit,
.refresh {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  color: #fafaff;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 20px;
  background-color: #1e1f2c;
}
